

body {
  padding: 10px;
}

#container {
  height: 400px;
  width: 400px;
  border: 2px solid rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
button{
  padding: 10px;
  margin-right: 5px;
}